{% extends 'base.html' %}

{% block extendhead %}
    <title>
        Versus - PolyInvaders
    </title>
    <script language="javascript" src="static/libraries/p5.js" type="text/javascript">
    </script>
    <script language="javascript" src="static/libraries/p5.sound.js" type="text/javascript">
    </script>
    <script src="static/js/versus/spaceInvaders.js" type="text/javascript">
    </script>
    <script src="static/js/versus/Player.js" type="text/javascript">
    </script>
    <script src="static/js/versus/Enemy.js" type="text/javascript">
    </script>
    <script src="static/js/versus/Blocker.js" type="text/javascript">
    </script>
    <script src="static/js/versus/animations.js" type="text/javascript">
    </script>
    <script src="static/js/versus/scoring.js" type="text/javascript">
    </script>
    <script src="static/js/versus/Opponent.js" type="text/javascript">
        </script>
{% endblock %}

{% block page_content %}

{% endblock %}

<style type="text/css">
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
    }
</style>